.home-container{
    height: 100%;
}

.home-container {
    display: flex;
    justify-content: center;
}

.home {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    height: 44px;
    width: 300px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    position: relative;
    background: #ffffff;
}

.search-bar-input {
    border: none;
    height: 25px;
    width: 250px;
    color: #1b1b1b;
    font-size: 15px;
    outline: none;
}

.search-btn {
    font-size: 20px;
    width: 30px;
    height: 30px;
    color: gray;
    background-color:#ffffff; 
}
